# Python Lists
```python
mylist = ["apple", "banana", "cherry"]
```
## List
Lists are used to store multiple items in a single variable <br/>
Lists are one of 4 built-in data types in Python used to store collections of data
the other <br/>
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate member <br/>s.
Tuple is a collection which is ordered and unchangeable. Allows duplicate membe <br/>rs.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate memb <br/>ers.
Dictionary is a collection which is ordered** and changeable. No duplicate me <br/>mbers
<br/>
Lists are created using square brackets:.

In [1]:
# Create a List:
this_is_list = ["apple","banana","cherry"]
print(this_is_list)

['apple', 'banana', 'cherry']

### List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] et

### Allow Duplicates
Since lists are indexed, lists can have items with the same value:c.

In [2]:
# List Allow duplicate values : 
this_is_another_list = ["apple","banana","cherry","apple","cherry"]
print(this_is_another_list)

['apple', 'banana', 'cherry', 'apple', 'cherry']

### List Length
To determine how many items a list has, use the`len()`) function
:

In [6]:
# print the number of items in the list  
print(len(this_is_list))

3

### List Items - Data Types
String, int and boolean data types or <br/>
A list can contain different data types:

In [5]:
# A list with strings, integers and boolean values:
list1 = ["abc", 34, True, 40, "male" ]

### The list() Constructor
It is also possible to use the list() constructor when creating a new list.

In [8]:
# Using the list() constructor to make a List:
cars = list(("audi","bmw","ferrari","lamborgini"))
print(cars)

['audi', 'bmw', 'ferrari', 'lamborgini']

## Python - Access List Items

### Access Items
List items are indexed and you can access them by referring to the index number:

In [11]:
# Print the second item of the list "cars"
print(cars[1])

bmw

> Note: The first item has index 0.

### Negative Indexing
Negative indexing means start from the end
<br/>
-1 refers to the last item, -2 refers to the second last item etc.

In [12]:
# print the last item of the list : 
print(cars[-1]) # that should return "lamborgini"

lamborgini

### Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.
<br/>
When specifying a range, the return value will be a new list with the specified items.

In [33]:
# Return the third, fourth, and fifth item
more_cars = ["Audi","BMW","Chevrolet","DodgeViper","Ferrari","General Motors","Hyundai","Jaguar","Lamborgini"]
print("Total Cars in Garage : ", len(more_cars))

Total Cars in Garage :  9

In [34]:
# Display all the List Items using their Index Number from Starting
for x in range(len(more_cars)):
   print("At Index : ", x , " " + more_cars[x] + " is available")

At Index :  0  Audi is available
At Index :  1  BMW is available
At Index :  2  Chevrolet is available
At Index :  3  DodgeViper is available
At Index :  4  Ferrari is available
At Index :  5  General Motors is available
At Index :  6  Hyundai is available
At Index :  7  Jaguar is available
At Index :  8  Lamborgini is available

In [36]:
print("Display from 2nd Cars to 7th Cars", more_cars[2:7])

Display from 2nd Cars to 7th Cars ['Chevrolet', 'DodgeViper', 'Ferrari', 'General Motors', 'Hyundai']

> Note: The search will start at index 2 (included) and end at index 7 'Jaguar' (not included). <br/>
> Remember that the first item has index 0

In [17]:
# This example returns the items from the beginning to, not including "Ferrari" which is at position 4
# if we count it from 0-Audi, 1-BMW,..3-DodgeViper,4-Ferrari"
print(more_cars[:4])

['Audi', 'BMW', 'Chevrolet', 'DodgeViper']

In [19]:
# This example returns the items from "Chevrolet" to the end:
print(more_cars[2:])

['Chevrolet', 'DodgeViper', 'Ferrari', 'General Motors', 'Hyundai', 'Jaguar', 'Lamborgini']

### Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list:

In [38]:
# Display the list of items counting from end
for x in range(len(more_cars)):
    print(more_cars[-x] + " is at Index number : -", x)

Audi is at Index number : - 0
Lamborgini is at Index number : - 1
Jaguar is at Index number : - 2
Hyundai is at Index number : - 3
General Motors is at Index number : - 4
Ferrari is at Index number : - 5
DodgeViper is at Index number : - 6
Chevrolet is at Index number : - 7
BMW is at Index number : - 8

In [28]:
# This example returns the items from "General Motors" (-4) to, but NOT including "Lamborgini " (-1):
print(more_cars[-4:-1])

['General Motors', 'Hyundai', 'Jaguar']

### Check if Item Exists
To determine if a specified item is present in a list use the in keyword:

In [43]:
fruits = ["apple","banana","cherry","mango"]
if "cherry" in fruits:
    print("yes, Cherry is present in the list")
else:
    print("No, Cherry is not present in the list")

yes, Cherry is present in the list

## Python - Change List Items

### Change Item Value
To change the value of a specific item, refer to the index number:

In [86]:
# change the second item : 
companys = ["apple","facebook","microsoft","dell","openai","spacex"]

In [60]:
# lets first quickly find out which items is indexed at which posiion
for x in range(len(companys)):
    print("At Index [ ", x , " ] is " + companys[x])

At Index [  0  ] is apple
At Index [  1  ] is facebook
At Index [  2  ] is microsoft
At Index [  3  ] is dell
At Index [  4  ] is openai
At Index [  5  ] is spacex

In [64]:
# now lets change the item at position 3 ( from dell to tesla )
print("List before Adding 'tesla' : ", companys)
companys[3] = "tesla"
print("List after Adding 'tesla'  : ", companys )

List before Adding 'tesla' :  ['apple', 'facebook', 'microsoft', 'dell', 'openai', 'spacex']
List after Adding 'tesla'  :  ['apple', 'facebook', 'microsoft', 'tesla', 'openai', 'spacex']

### Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [75]:
# change the value of 'facebook' and 'spacex' with the values 'meta' and 'google'
print("Total Length of the List : " , len(companys))
companys[1:5] = ["meta","google"]
print(companys)

Total Length of the List :  6
['apple', 'meta', 'google', 'spacex']

## Python - Add List Items

### Append Items
To add an item to the end of the list, use the `append()` method :

In [89]:
coding_lang = ["bash","c++","go","java"]
print("Total Coding Language : ", len(coding_lang), " | ",coding_lang)
# appending 'python' to the list will add the item to the end of the list
coding_lang.append("python")
print("Total Coding Language : ", len(coding_lang), " | ",coding_lang)

Total Coding Language :  4  |  ['bash', 'c++', 'go', 'java']
Total Coding Language :  5  |  ['bash', 'c++', 'go', 'java', 'python']

### Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.
The insert() method inserts an item at the specified index:

In [87]:
print(companys)
print("Total Items before adding 'google' : ", len(companys))
# let's add a new list item at index '2' as third item 
companys.insert(2,"google")
print("Displaying List Items : ", companys)
print("Total Items after adding 'google' : ", len(companys))

['apple', 'facebook', 'microsoft', 'dell', 'openai', 'spacex']
Total Items before adding 'google' :  6
Displaying List Items :  ['apple', 'facebook', 'google', 'microsoft', 'dell', 'openai', 'spacex']
Total Items after adding 'google' :  7

> Note: As a result of the example above, the list will now contain 7 items.

### Extend List
To append elements from another list to the current list, use the extend() method.

In [91]:
# Add the elements of 'tropical_fruits' to 'seasonal_fruits'

seasonal_fruits = ["banana","mango","cherry"]
tropical_fruits = ["apple","pineapple","papaya"]

seasonal_fruits.extend(tropical_fruits)
print(seasonal_fruits)

['banana', 'mango', 'cherry', 'apple', 'pineapple', 'papaya']

### Add Any Iterable
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [99]:
# Add elements of a tuple to a list.
city_in_jharkhand = ["gooda","deoghar","ranchi","simdega","jamshedpur"] # this is a list
print("Cities in Jharkhand : ",city_in_jharkhand)
city_in_bihar = ("patna","bagalpur") # this is a tuple 
print("Cities in Bihar : ",city_in_bihar)
city_in_jharkhand.extend(city_in_bihar)
combined_cities = []
combined_cities.extend(city_in_jharkhand)
print("Combined Cities : ",combined_cities)

Cities in Jharkhand :  ['gooda', 'deoghar', 'ranchi', 'simdega', 'jamshedpur']
Cities in Bihar :  ('patna', 'bagalpur')
Combined Cities :  ['gooda', 'deoghar', 'ranchi', 'simdega', 'jamshedpur', 'patna', 'bagalpur']

## Python - Remove List Items

### Remove Specified Item
The `remove()` method removes the specified item.

In [2]:
# remove "apple" from the list
this_fruits = ["apple","banana","cherry"]
this_fruits.remove("apple")
print(this_fruits)

['banana', 'cherry']

> If there are more than one item with the specified value, the remove() method removes the first occurrence

In [12]:
# remove the first occurence of banana 
this_fruits = ["apple","banana","cherry","banana"]
this_fruits.remove("banana")
print(this_fruits)

['apple', 'cherry', 'banana']

### Remove Specified Index
The `pop()` method removes the specified index

In [14]:
fishes = ["shark","jellyfish","dophine","whale"]
print(fishes)
fishes.pop(2) # remove the 3rd item at index number 2 
print(fishes)

['shark', 'jellyfish', 'dophine', 'whale']
['shark', 'jellyfish', 'whale']

> If you do not specify the index, the pop() method removes the last item.

In [20]:
fishes = ["shark","jellyfish","dophine","whale"]
print(fishes)
fishes.pop() # removes the last index number item
print(fishes)

['shark', 'jellyfish', 'dophine', 'whale']
['shark', 'jellyfish', 'dophine']

The `del` keyword also removes the specified index:

In [18]:
# remove the firt item
beverages = ["coca-cola","pepsi","paperboat","maza"]
print(beverages)
del beverages[1] # remove the 2nd item at index number 1
print(beverages)

['coca-cola', 'pepsi', 'paperboat', 'maza']
['coca-cola', 'paperboat', 'maza']

The `del' keyword can also delete the list completely.

In [24]:
# delete the entire list
smartphones = ["vivo","oppo","samsung","nokia","iphone"]
print(smartphones)
del smartphones
print(smartphones) #this will cause an error because you have succsesfully deleted "thislist".

['vivo', 'oppo', 'samsung', 'nokia', 'iphone']

NameError: name 'smartphones' is not defined

### Clear the List
The `clear()` method empties the list.
<br/>
The list still remains, but it has no content.

In [26]:
# clear the list content
technology_company = ["apple","dell","samsung","lenovo","nokia","tesla"]
print(technology_company)
technology_company.clear()
print(technolog_company)

['apple', 'dell', 'samsung', 'lenovo', 'nokia', 'tesla']

NameError: name 'technolog_company' is not defined

## Python - Loop Lists

### Loop Through a List
You can loop through the list items by using a for loop:

In [27]:
# print all items in the list, one by one : 
stationary_items = ["pen","pencil","sharpner","eraser","box"]
for items in stationary_items:
    print(items)

pen
pencil
sharpner
eraser
box

### Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.
<br/>
Use the `range()` and `len()` functions to create a suitable iterable.

In [31]:
# print all the items by referring to their index number : 
for i in range(len(stationary_items)):
    print("At Index [ {0} ] item '{1}' is available".format(i,stationary_items[i]))

At Index [ 0 ] item 'pen' is available
At Index [ 1 ] item 'pencil' is available
At Index [ 2 ] item 'sharpner' is available
At Index [ 3 ] item 'eraser' is available
At Index [ 4 ] item 'box' is available

### Using a While Loop
You can loop through the list items by using a while loop.

Use the `len()` function to determine the length of the list, then start at `0` and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [36]:
# Print all items, using a while loop to go through all the index numbers
ceo_names = ["Bill Gates","Elon Musk","Mark Zukerberg","Larry Ellison","Jensen Hueng"]
i = 0
print("Total Num of item are {0} is in the list {1}".format(len(ceo_names),ceo_names))
while i < len(ceo_names):
    print(" {0} | {1}".format(i,ceo_names[i]))
    i = i + 1

Total Num of item are 5 is in the list ['Bill Gates', 'Elon Musk', 'Mark Zukerberg', 'Larry Ellison', 'Jensen Hueng']
 0 | Bill Gates
 1 | Elon Musk
 2 | Mark Zukerberg
 3 | Larry Ellison
 4 | Jensen Hueng

### Looping Using List Comprehension
List Comprehension offers the shortest syntax for looping through lists: <br/>
A short hand for loop that will print all items in a list:

In [38]:
books = ["Start with Why","Rich Dad & Poor Dad","Zero to Hero","Think & Grow Rich"]
[ print(book) for book in books]

Start with Why
Rich Dad & Poor Dad
Zero to Hero
Think & Grow Rich

[None, None, None, None]

In [41]:
[ print(" {0} - {1} ".format(book_no,books[book_no])) for book_no in range(len(books))]

 0 - Start with Why
 1 - Rich Dad & Poor Dad
 2 - Zero to Hero
 3 - Think & Grow Rich

[None, None, None, None]

## Python - List Comprehension | [ReadMore](https://www.w3schools.com/python/python_lists_comprehension.asp)

### List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

## Python - Sort Lists

### Sort List Alphanumerically
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [48]:
# sort the list alphabetically
minerals = ["Calcium","Potassium","Manganese","Sodium","Zinc","Sulfur","Iodine"]
minerals.sort()
print("Alphabetically Sorted : ", minerals)

Alphabetically Sorted :  ['Calcium', 'Iodine', 'Manganese', 'Potassium', 'Sodium', 'Sulfur', 'Zinc']

### Sort the list numerically

In [3]:
# Sort the list numerically
numbers = [100, 50, 65, 82, 23]
print("Unsorted Numbers : ",numbers)
numbers.sort()
print("Sorted Numbers : ", numbers)

Unsorted Numbers :  [100, 50, 65, 82, 23]
Sorted Numbers :  [23, 50, 65, 82, 100]

### Sort Descending
To sort descending, use the keyword argument reverse = True:

In [7]:
thisfruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
thisfruits.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [4]:
numbers.sort(reverse = True)
print(numbers)

[100, 82, 65, 50, 23]

### Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [10]:
print("Fruits List",thisfruits)
thisfruits.sort()
print("Sorted Fruit List : ",thisfruits)
thisfruits.reverse()
print("Reversed Fruit List : ",thisfruits)

Fruits List ['banana', 'kiwi', 'mango', 'orange', 'pineapple']
Sorted Fruit List :  ['banana', 'kiwi', 'mango', 'orange', 'pineapple']
Reversed Fruit List :  ['pineapple', 'orange', 'mango', 'kiwi', 'banana']

### Case Insensitive Sort

By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters

In [14]:
# Case sensitive sorting can give an unexpected result:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print("Case Sensitive Sorted List : ", thislist)
thislist.sort(key = str.lower)
print("Case Insensitive Sorted List :", thislist)

Case Sensitive Sorted List :  ['Kiwi', 'Orange', 'banana', 'cherry']
Case Insensitive Sorted List : ['banana', 'cherry', 'Kiwi', 'Orange']

## Python - Copy Lists

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [20]:
## Make a copy of a list with the copy() method:
thislist = ["apple", "banana", "cherry"]
newlist  = thislist.copy()
print(newlist)
thislist.append("mango")
print("thislist after adding mango", thislist)
print("no changes made to ",newlist)

['apple', 'banana', 'cherry']
thislist after adding mango ['apple', 'banana', 'cherry', 'mango']
no changes made to  ['apple', 'banana', 'cherry']

> Another way to make a copy is to use the built-in method `list()`.

In [24]:
# Make a copy of a list with the list() method:
web_browser = ["chrome","firefox","brave"]
web_browser.sort()
sorted_browser_list = list(web_browser)
print(sorted_browser_list)

['brave', 'chrome', 'firefox']